.contractorCard_container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 84vh;

  // ? This is the overView Card
  .contractor_overview--container {
    min-width: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .contractor_overview--card {
      width: 80%;
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 5px;
      margin: 0.5rem 0;
      .contratorActionBtnContainer {
        display: flex;
        flex-direction: row;
        padding-top: 0.3rem;
        button {
          cursor: pointer;
        }
      }
    }
  }

  // ? This is the details card
  .contractor_details--container {
    .wrapper {
      position: sticky;
      top: 1rem;
      margin-top: 1rem;
      background-color: rgb(255, 250, 244);
      width: 32rem;
      .profile_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .profile_photo {
          img {
            width: 7rem;
            height: 7rem;
          }
        }
        .profile_details {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 1rem;
          .section-left {
            div {
              width: 12rem;
              text-align: left;
              padding: 0.5rem;
            }
            .profile_lable {
              font-weight: 600;
            }
          }
          .section-left,
          .section-right {
            text-align: left;
          }
          .section-right {
            padding: 0.5rem;
            .profile_lable {
              font-weight: 600;
            }
            .profile_del--btn {
              padding: 0.3rem;
              margin: 1rem 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  //? This is the contractor's items list details

  .item_details_container {
    width: 30rem;
    .contractors-name-phone {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        margin: 1rem;
      }
    }
    .Items_container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(218, 203, 188);
        padding: 1rem;
        border-radius: 5px;
        margin: 1rem 0;
        input {
          min-width: 2rem;
          max-width: 3rem;
        }
      }
    }
    .actionBtn-received {
      margin: 1rem 0;
      button {
        cursor: pointer;
      }
    }
  }
}
