.contractor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contractor_subMenu {
  display: flex;
  padding: 0.6rem;
  background-color: rgb(67, 160, 226);
  .addContractorBtn {
    text-align: left;
  }
}
